/* Columns */

.columns {
    display: grid;
    width: 100%;
    grid-column-gap: 48px;
}

.columns.two {
    grid-template-columns: 1fr 1fr;
}

.columns.three {
    grid-template-columns: 1fr 1fr 1fr;
}

.columns.four {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
