/* Cover */

.cover {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

/* Fitting */

.cover.w,
.cover.width {
	width: 100%;
	max-height: none;
}

.cover.h,
.cover.height {
	height: 100%;
	max-width: none;
}
