// ------------------------------------------------------------------
// Shout
// ------------------------------------------------------------------
// 1. Text ............. Positioning and font properties
// 2. Link ............. Color and underline adjustments
// 3. Back ............. Diagonal backdrop
// ------------------------------------------------------------------

.shout {

	// Text

	position:absolute;
	top:50%;
	left:0;
	z-index:1;
	padding-left:96px;
	width:100%;
	color:white;
	line-height:1.1;
	font-size:112px;
	transform:translateY(-50%);

	// Link

	a {
		@include underline(currentColor, 0.06);
		color:inherit;
		}

	// Back

	&::after {
		position:absolute;
		top:-300%;
		right:0;
		bottom:-300%;
		left:0;
		z-index:-1;
		background:$color diagonal() no-repeat;
		content:'';
		}

	}
