// ------------------------------------------------------------------
// Shout Full
// ------------------------------------------------------------------
// 1. Animation ........ Backdrop animation
// ------------------------------------------------------------------

// Animation

.shout::after {
	background-position:$width 0;
	transition:background-position 0.4s ease-out;
	}
&:target .shout::after {
	background-position:0 0;
	}
