// ------------------------------------------------------------------
// Caption
// ------------------------------------------------------------------
// 1. Calculations ..... Font-size calculations
// 2. Decoration ....... Global caption styling
// 3. Contents ......... Caption’s contents
// ------------------------------------------------------------------

.caption {

	// Calculations

	@each $scale in 4, 2, 1 {
		@include scale($scale) {
			margin-top:- $gap / $scale;
			font-size:$gap / $scale;
			}
		}

	// Decoration

	display:none;
	margin-bottom:1em;
	padding:1.02em 0 0.9em 1em;
	width:100%;
	background:$color diagonal() no-repeat;

	// Contents

	h1 {
		padding-bottom:0.28em;
		color:white;
		font:1.17em/1 Roboto Light, sans-serif;
		}
	p {
		color:mix(white, $color, 70%);
		line-height:1;
		font-size:0.58em;
		}
	a {
		color:inherit;
		}

	}
