// ------------------------------------------------------------------
// Caption
// ------------------------------------------------------------------
// 1. Calculations ..... Font-size calculations
// 2. Decoration ....... Global caption styling
// 3. Contents ......... Caption’s contents
// ------------------------------------------------------------------

.caption {

	// Calculations

	@each $scale in 4, 2, 1 {
		@include scale($scale) {
			font-size:100px / $scale;
			}
		}

	// Decoration

	display:none;
	width:100%;
	background:linear-gradient(
		135deg, $color 50%,
		mix(black, $color, 10%) 50%
		);

	// Contents

	h1 {
		padding-bottom:0.15em;
		font:bold 1em/1 PT Sans Narrow, sans-serif;
		}
	p {
		line-height:1;
		color:mix(white, $color, 70%);
		}
	a {
		color:inherit;
		}

	}
