// ------------------------------------------------------------------
// Caption List
// ------------------------------------------------------------------
// 1. Calculations ..... Font-size calculations
// 2. Decoration ....... Global caption styling
// 3. Contents ......... Caption’s contents
// ------------------------------------------------------------------

.shower__caption {

	// Calculations

	@each $scale in 4, 2, 1 {
		@include scale-breakpoint($scale) {
			font-size:32px / $scale;
			}
		}

	// Decoration

	width:100%;
	display:block;
	margin-bottom:3em;
	padding:2em 3em;
	background:
		url(../images/cell.png) 0 0 / 24px 24px,
		linear-gradient(
			135deg, $color 50%,
			mix(black, $color, 10%) 50%
			);
	@include retina {
		background:
			url(../images/cell@2x.png) 0 0 / 24px 24px,
			linear-gradient(
				135deg, $color 50%,
				mix(black, $color, 10%) 50%
				);
		}
	color:#FFF;
	font-family:Roboto Light, sans-serif;

	// Contents

	h1 {
		padding:0.14em 0 0.2em;
		line-height:1.3;
		font-size:3.5em;
		}
	p {
		padding-bottom:0.51em;
		color:mix(white, $color, 70%);
		line-height:1;
		font-size:1.5em;
		}
	a {
		color:inherit;
		}

	}
