/* Slide Full */

.shower.full .slide {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0 0 0 0);
    visibility: hidden;
}

/* Active */

.shower.full .slide.active {
    clip: auto;
    visibility: visible;
}
