// ------------------------------------------------------------------
// Slide
// ------------------------------------------------------------------
// 1. Number ........... Page number
// 2. Content .......... Various content types
// 3. Modifiers......... Slide modifiers
// 4. Elements ......... Content elements
// ------------------------------------------------------------------

.slide {

	position:relative;
	z-index:1;
	overflow:hidden;
	padding:104px 112px 0 96px;
	width:$width;
	height:$height;
	background:white;
	line-height:2;
	font-size:24px;

	// Number

	&::after {
		position:absolute;
		left:96px;
		bottom:48px;
		color:$light;
		counter-increment:slide;
		content:counter(slide);
		}

	// Content

	@import
		'content/basic',
		'content/inline',
		'content/quote',
		'content/lists',
		'content/table',
		'content/code',
		'content/footer';

	// Modifiers

	@import
		'modifiers/grid',
		'modifiers/black',
		'modifiers/white';

	// Elements

	@import
		'elements/columns',
		'elements/shout',
		'elements/cover',
		'elements/place';

	}
