/* Slide List */

.shower.list .slide {
    box-shadow: 2px 2px 0 2px var(--color-light);
    transform-origin: 0 0;
    transform: scale(
        var(--slide-scale)
    );
}

.shower.list .slide * {
    pointer-events: none;
}

@media (min-width: 1168px) {
    .shower.list .slide {
        box-shadow: 1px 1px 0 1px var(--color-light);
    }
}

/* Hover */

.shower.list .slide:hover {
    box-shadow: 0 0 0 20px var(--color-light);
}

/* Active */

.shower.list .slide.active {
    box-shadow: 0 0 0 20px var(--color-key);
}
