// ------------------------------------------------------------------
// Section List
// ------------------------------------------------------------------
// 1. Scale ............ Scaling and size fitting with margin
// 2. Shadow ........... Shadow, hovered and current outlines
// 3. Content .......... Interaction in the list mode is disabled
// ------------------------------------------------------------------

.slide {

	// Scale

	transform-origin:0 0;

	@each $scale in 4, 2, 1 {
		@include scale($scale) {
			$magic:1 - 1 / $scale;
			margin:0 (0 - $width * $magic) ($gap / $scale - $height * $magic) $gap / $scale;
			transform:scale(1 / $scale);
			}
		}

	// Shadow

	@each $scale in 4, 2, 1 {
		@include scale($scale) {

			border-radius:8px / $scale;

			@include shadow(2, $scale);

			&:hover {
				@include shadow(4, $scale);
				}
			&:target {
				@include shadow(8, $scale);
				}

			}
		}

	// Content

	* {
		pointer-events:none;
		}

	@import 'content/footer-list';

	}
