// ------------------------------------------------------------------
// Progress
// ------------------------------------------------------------------

.progress {

	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
	display:none;
	height:8px;
	background:$color;
	transition:width 0.2s linear;

	// Back

	clip:rect(0 $width 8px 0);
	box-shadow:$width/2 0 0 $width/2 $light;

	}
