/* Table */

.slide table {
    margin-left: -96px;
    margin-bottom: 1em;
    width: calc(96px + 100% + 112px);
    border-collapse: collapse;
    border-spacing: 0;
}

/* Cells */

.slide th,
.slide td {
    padding-top: 0;
    padding-bottom: 0;
}

.slide th {
    text-align: left;
    font-weight: bold;
}

.slide th:first-child,
.slide td:first-child {
    padding-left: 96px;
}

.slide th:last-child,
.slide td:last-child {
    padding-right: 96px;
}

/* Lines */

.slide tr:not(:last-of-type) > * {
    background-image:
        linear-gradient(
            to top,
            var(--color-light) 0.06em,
            transparent 0.06em
        );
    background-repeat: repeat-x;
}

/* Stripes */

.slide table.striped tr:nth-child(even) {
    background-color: var(--color-back);
}

.slide table.striped tr > * {
    background-image: none;
}

/* Marked Row */

.slide tr.mark {
    background-color: var(--color-yellow);
}

/* Next Marked Row */

.slide tr.mark.next {
    visibility: visible;
    background-color: transparent;
}

.slide tr.mark.next.active {
    background-color: var(--color-yellow);
}
