// ------------------------------------------------------------------
// Caption
// ------------------------------------------------------------------
// 1. Calculations ..... Font-size calculations
// 2. Decoration ....... Global caption styling
// 3. Contents ......... Caption’s contents
// ------------------------------------------------------------------

.caption {

	// Calculations

	@each $scale in 4, 2, 1 {
		@include scale($scale) {
			font-size:$gap / $scale;
			}
		}

	// Decoration

	display:none;
	margin-top:-0.2em;
	padding:0 1em 0.93em;
	width:100%;
	color:#3C3D40;
	text-shadow:0 1px 0 #8D8E90;

	// Contents

	h1 {
		padding-bottom:0.15em;
		font:bold 1em/1 PT Sans Narrow, sans-serif;
		}
	p {
		line-height:1;
		font-size:0.6em;
		}
	a {
		color:$blue;
		text-shadow:0 -1px 0 #1F3F60;
		}

	}
