// ------------------------------------------------------------------
// Shower List
// ------------------------------------------------------------------

.shower.list {

	@each $scale in 4, 2, 1 {
		@include scale($scale) {
			padding-top:$gap / $scale;
			}
		}

	width:100%;
	display:flex;
	flex-wrap:wrap;
	background:#585A5E;

	// IE10-11 scrolling fix

	position:absolute;
	clip:rect(0, auto, auto, 0);

	// Elements

	@import
		'../caption/caption-list',
		'../slide/slide-list',
		'../badge/badge-list';

	}
