// ------------------------------------------------------------------
// Section List
// ------------------------------------------------------------------
// 1. Scale ............ Scaling and size fitting with margin
// 2. Shadow ........... Shadow, hovered and current outlines
// 3. Content .......... Interaction in the list mode is disabled
// ------------------------------------------------------------------

> section {

	// Scale

	transform-origin:0 0;

	@mixin scale-section($scale) {
		$magic:1 - 1 / $scale;
		margin:0 (0 - $width * $magic) ($gap / $scale - $height * $magic) $gap / $scale;
		transform:scale(1 / $scale);
		}

	@include scale-section(4);

	@each $scale in 2, 1 {
		@include scale-breakpoint($scale) {
			@include scale-section($scale);
			}
		}

	// Content

	* {
		pointer-events:none;
		}

	// Elements

	@import 'footer--list';

	}
