[submodule "template"]
	path = template
	url = git://github.com/shower/template.git
[submodule "shower"]
	path = shower
	url = git://github.com/shower/shower.git
[submodule "ribbon"]
	path = ribbon
	url = git://github.com/shower/ribbon.git
[submodule "bright"]
	path = bright
	url = git://github.com/shower/bright.git
