// ------------------------------------------------------------------
// Columns
// ------------------------------------------------------------------

.double,
.triple {
	column-gap:75px;
	hyphens:auto;
	}
.double {
	column-count:2;
	}
.triple {
	column-count:3;
	}
