// ------------------------------------------------------------------
// Shout
// ------------------------------------------------------------------

.shout {

	position:absolute;
	top:50%;
	left:0;
	width:100%;
	text-align:center;
	line-height:1;
	font-size:150px;
	transform:translateY(-50%);

	a {
		@include underline(currentColor, 0.11);
		}

	}
