/* Shower Full */

.shower.full {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: calc(var(--slide-height) / 2 * -1);
    margin-left: calc(var(--slide-width) / 2 * -1);
    width: var(--slide-width);
    height: var(--slide-height);
    background-color: black;
}
