// ------------------------------------------------------------------
// Defaults
// ------------------------------------------------------------------
// 1. Sizes ............ Global layout and color variables
//    - Width .......... Default slide width 1024 px
//    - Height ......... Height calculated based on width and ratio
//    - Gap ............ Gap between slides in list mode
// 2. Colors ........... Global color variables
// 3. Retina ........... Retina detection mixin
// 4. Underliner ....... Mixin for drawing lines using gradient
// 5. Breakpoints ...... MQ generator based on slides scale factor
// 6. Offscreen ........ Mixing for hiding things in accessible way
// ------------------------------------------------------------------

// Sizes

$width:1024px;
$height:$width/$ratio;
$gap:100px;

// Colors

$color:#009788;
$black:rgba(black, 0.87);
$grey:rgba(black, 0.54);

// Retina

@mixin retina {
	@media (min-resolution:2dppx) {
		@content;
		}
	}

// Underliner

@mixin underline($color, $width) {
	background:
		linear-gradient(
			to top,
			$color #{$width}em,
			transparent #{$width}em
		) repeat-x;
	}

// Breakpoints

@mixin scale-breakpoint($scale) {
	@include breakpoint(2 * ($width / $scale) + ($gap / $scale) * 3) {
		@content;
		}
	}

// Offscreen

@mixin offscreen {
	position:absolute;
	clip:rect(0 0 0 0);
	overflow:hidden;
	margin:-1px;
	padding:0;
	width:1px;
	height:1px;
	border:none;
	}
