// ------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------
// 1. Roboto ........... Text font
// 2. Roboto Light ..... Headings font
// 3. Roboto Mono ...... Code font
// ------------------------------------------------------------------

// Roboto

@font-face {
	font-family:Roboto;
	src:url(../fonts/roboto-regular.woff) format('woff');
	}
@font-face {
	font-weight:bold;
	font-family:Roboto;
	src:url(../fonts/roboto-bold.woff) format('woff');
	}
@font-face {
	font-style:italic;
	font-family:Roboto;
	src:url(../fonts/roboto-italic.woff) format('woff');
	}
@font-face {
	font-style:italic;
	font-weight:bold;
	font-family:Roboto;
	src:url(../fonts/roboto-bold-italic.woff) format('woff');
	}

// Roboto Light

@font-face {
	font-family:Roboto Light;
	src:url(../fonts/roboto-light.woff) format('woff');
	}

// Roboto Mono

@font-face {
	font-family:Roboto Mono;
	src:url(../fonts/roboto-mono-regular.woff) format('woff');
	}
