// ------------------------------------------------------------------
// Section Full
// ------------------------------------------------------------------
// 1. Decoration ....... Decoration in Full mode
// 2. Current .......... Enabler for the current slide
// 3. Elements ......... Full screen elements
// ------------------------------------------------------------------

.slide {

	// Decoration

	position:absolute;
	top:0;
	left:0;
	margin-left:-150%;
	visibility:hidden;

	// Current

	&:target {
		margin:0;
		visibility:visible;
		}

	// Content

	@import
		'content/code-full';

	// Elements

	@import
		'elements/next-full',
		'elements/shout-full';

	}
