/* PT Sans */
@font-face {
	font-family:'PT Sans';
	src:url(../fonts/PTSans.woff) format('woff'),
		url(../fonts/PTSans.ttf) format('truetype'),
		url(../fonts/PTSans.svg#PTSans-Regular) format('svg');
	}
@font-face {
	font-weight:bold;
	font-family:'PT Sans';
	src:url(../fonts/PTSans.Bold.woff) format('woff'),
		url(../fonts/PTSans.Bold.ttf) format('truetype'),
		url(../fonts/PTSans.Bold.svg#PTSans-Bold) format('svg');
	}
@font-face {
	font-style:italic;
	font-family:'PT Sans';
	src:url(../fonts/PTSans.Italic.woff) format('woff'),
		url(../fonts/PTSans.Italic.ttf) format('truetype'),
		url(../fonts/PTSans.Italic.svg#PTSans-Italic) format('svg');
	}
@font-face {
	font-style:italic;
	font-weight:bold;
	font-family:'PT Sans';
	src:url(../fonts/PTSans.Bold.Italic.woff) format('woff'),
		url(../fonts/PTSans.Bold.Italic.ttf) format('truetype'),
		url(../fonts/PTSans.Bold.Italic.svg#PTSans-BoldItalic) format('svg');
	}
@font-face {
	font-family:'PT Sans Narrow';
	src:url(../fonts/PTSans.Narrow.woff) format('woff'),
		url(../fonts/PTSans.Narrow.ttf) format('truetype'),
		url(../fonts/PTSans.Narrow.svg#PTSans-Narrow) format('svg');
	}
@font-face {
	font-family:'PT Sans Narrow';
	font-weight:bold;
	src:url(../fonts/PTSans.Narrow.Bold.woff) format('woff'),
		url(../fonts/PTSans.Narrow.Bold.ttf) format('truetype'),
		url(../fonts/PTSans.Narrow.Bold.svg#PTSans-NarrowBold) format('svg');
	}

/* PT Mono */
@font-face {
	font-family:'PT Mono';
	src:url(../fonts/PTMono.woff) format('woff'),
		url(../fonts/PTMono.ttf) format('truetype'),
		url(../fonts/PTMono.svg#PTMono) format('svg');
	}