// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------

blockquote {

	font-style:italic;

	&::before {
		position:absolute;
		margin:-0.15em 0 0 -0.43em;
		color:#CCC;
		line-height:1;
		font-size:8em;
		content:'\201C';
		}

	// Author

	& + figcaption {
		margin:-1em 0 1em;
		font-style:italic;
		font-weight:bold;
		}

	}
