@import url(reset.css);
@import url(fonts.css);

BODY {
	overflow:hidden;
	background:#000;
	color:#FFF;
	counter-reset:paging;
	font:1em 'PT Sans', sans-serif;
	}
A {
	text-decoration:none;
	}

/* Basic Font-Size
---------------------------------------- */

@media ( min-height:240px  ) { BODY { font-size:15px } }
@media ( min-height:480px  ) { BODY { font-size:30px } }
@media ( min-height:600px  ) { BODY { font-size:38px } }
@media ( min-height:768px  ) { BODY { font-size:48px } }
@media ( min-height:800px  ) { BODY { font-size:50px } }
@media ( min-height:900px  ) { BODY { font-size:56px } }
@media ( min-height:1024px ) { BODY { font-size:64px } }
@media ( min-height:1050px ) { BODY { font-size:66px } }
@media ( min-height:1200px ) { BODY { font-size:75px } }

/* H ÷ 16 ≈ Font-Size */

/* Shower
---------------------------------------- */
.shower {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	}
.shower:after {
	position:absolute;
	top:-1em;
	bottom:-1em;
	right:-1em;
	z-index:3;
	width:1.5em;
	border:1em solid #000;
	border-left-width:0;
	-webkit-border-radius:0 2.5em 2.5em 0;
	-moz-border-radius:0 2.5em 2.5em 0;
	border-radius:0 2.5em 2.5em 0;
	content:'';
	}

/* Slide
---------------------------------------- */
.slide {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin-left:100%;
	overflow:hidden;
	background:#FFF;
	color:#000;
	}
.slide:target {
	margin-left:0;
	}
.slide:before {
	position:absolute;
	top:0;
	right:3em;
	width:1em;
	height:3em;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAEsCAMAAAACQObTAAAAz1BMVEXMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAADMAAAS27ylAAAARHRSTlMA+QMGCfb8D/BFw+3GEgzP8zM8zLdUhKufYDY5SDDJsXJjvVGZeKVLFZOKP2ldfm9a6rScwNKulqhXTpCNdWy6h6JCgQMMiNQAAAGxSURBVHhe7M2xCcJgFAbA1xkJPzGkU7S2tXAD959JxOJbIE8Q7ha4ev3APyUSiUQikUgkEolEIpFIJBKJRCKRSCQSiUQikUgkEolEIpFIJBKJRCKRSCQSiUQikUgkEolEIpFIJBKJRCKRSCQSiUQikUgkEolEIpFIJBKJRCKRSCSSx/HZnszXui9dSY7K0pPMa32MpTGZ1voaW0OSI0tPMp0rDtvuSY4st4bkdKnIsmvyrm0+VyKIoQCMfskUcRERWXdXFKwFu6hYe3n/Z1LwxxVmTCa5N+cFjhyyLBgnS8sQXvRJ03fA4sCFnEOWkVnSHINqQXVAPTJJmg9C6muDpJknrN5WJHJEF2Xi1omrX2OJ/oB6rEjcAVgsWBxQjTMT98Bw1WVW4nZIUW0EEvUhS3LiVkhV3SQmbfoB1TQhkcNoofe4J4+fDk7aC3L5u4FJe0o+vx9J5DBe6Byr6Pj3eKI9wM8CiRzqJZxsYWLWSewPuPo/OcHMbieRw3jpJi+Yuu1LzjF2KEmpQxZJNingUZJiBzz9TZ4p5EiSPSi6UPaAt9/kjKImP4kc5RY+KW7yDcDGg0ekTkUOAAAAAElFTkSuQmCC) 0 100% no-repeat;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	background-size:100%;
	content:'';
	}
.slide:after {
	position:absolute;
	bottom:4em;
	left:6em;
	color:#AAA;
	font-size:0.5em;
	counter-increment:paging;
	content:counter(paging, decimal-leading-zero);
	}

/* Article */
.slide ARTICLE {
	position:absolute;
	top:2em;
	right:3em;
	bottom:3em;
	left:3em;
	line-height:1.7;
	}

/* Elements */
.slide ARTICLE H1,
.slide ARTICLE H2 {
	margin:0 0 1.2em;
	color:#666;
	font:bold 1em/1.2 'PT Sans Narrow', sans-serif;
	}
.slide ARTICLE P {
	margin:0 0 1.7em;
	font-size:0.65em;
	}
.slide ARTICLE P.note {
	color:#888;
	}
.slide ARTICLE A {
	border-bottom:0.1em solid;
	color:#0174A7;
	}
.slide ARTICLE A[target=_blank] {
	margin-right:0.9em;
	}
.slide ARTICLE A[target=_blank]:after {
	position:absolute;
	margin:0.1em 0 0 0.3em;
	font-family:'Target Blank';
	content:'\005E';
	}
.slide ARTICLE B,
.slide ARTICLE STRONG {
	font-weight:bold;
	}
.slide ARTICLE I,
.slide ARTICLE EM {
	font-style:italic;
	}
.slide ARTICLE KBD,
.slide ARTICLE CODE {
	padding:0.1em 0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	border-radius:0.3em;
	background:#EEE;
	font-family:Consolas, 'Droid Sans Mono', monospace;
	}

/* Quote */
.slide ARTICLE BLOCKQUOTE {
	font-style:italic;
	font-size:0.65em;
	}
	.slide ARTICLE BLOCKQUOTE P {
		font-size:1em;
		}
.slide ARTICLE BLOCKQUOTE:before {
	position:absolute;
	margin:-0.1em 0 0 -0.44em;
	color:#BBB;
	line-height:1;
	font-size:8em;
	content:'\201C';
	}
.slide ARTICLE BLOCKQUOTE:after {
	display:block;
	margin:-1em 0 0;
	color:#444;
	font-weight:bold;
	content:attr(cite);
	}

/* Lists */
.slide ARTICLE OL,
.slide ARTICLE UL {
	margin:0 0 1.7em;
	counter-reset:list;
	font-size:0.65em;
	}
	.slide ARTICLE OL LI:before,
	.slide ARTICLE UL LI:before {
		position:absolute;
		width:2em;
		color:#BBB;
		text-align:right;
		}
	.slide ARTICLE UL LI:before {
		margin-left:-2.58em;
		line-height:1;
		font-size:1.6em;
		content:'\2022';
		}
	.slide ARTICLE OL LI:before {
		margin-left:-3em;
		counter-increment:list;
		content:counter(list)'\002E';
		}

/* Code */
.slide ARTICLE PRE {
	margin:0 0 1.7em;
	counter-reset:code;
	white-space:normal;
	font-size:0.65em;
	}
	.slide ARTICLE PRE CODE {
		display:block;
		padding:0;
		background:none;
		white-space:pre;
		}
	.slide ARTICLE PRE CODE:before {
		position:absolute;
		margin:0 0 0 -2.8em;
		width:2em;
		color:#BBB;
		text-align:right;
		counter-increment:code;
		content:counter(code, decimal-leading-zero)'.';
		}
	.slide ARTICLE PRE EM,
	.slide ARTICLE PRE STRONG {
		padding:0.1em 0.3em;
		-webkit-border-radius:0.3em;
		-moz-border-radius:0.3em;
		border-radius:0.3em;
		}
	.slide ARTICLE PRE EM {
		background:#FAFAA2;
		color:#000;
		font-style:normal;
		}
	.slide ARTICLE PRE STRONG {
		background:#C00;
		color:#FFF;
		font-weight:normal;
		}

/* Cover
---------------------------------------- */
.slide.cover {
	z-index:3;
	}
.slide.cover:before {
	position:absolute;
	top:0;
	right:3em;
	width:1em;
	height:100%;
	background:#000;
	content:'';
	}
.slide.cover:after {
	display:none;
	}

/* Back
---------------------------------------- */
.slide.back {
	background:#000;
	}
	.slide.back ARTICLE {
		z-index:3;
		}
	.slide.back IMG {
		position:absolute;
		top:0;
		left:50%;
		z-index:2;
		height:100%;
		-webkit-transform-origin:50% 0;
		-webkit-transform:translate(-50%, 0);
		-moz-transform-origin:50% 0;
		-moz-transform:translate(-50%, 0);
		-ms-transform-origin:50% 0;
		-ms-transform:translate(-50%, 0);
		-o-transform-origin:50% 0;
		-o-transform:translate(-50%, 0);
		}
.slide.back:after {
	content:'';
	}

/* Shout
---------------------------------------- */
.slide.shout {
	}
	.slide.shout ARTICLE H2 {
		position:absolute;
		top:50%;
		margin:-0.5em 0 0;
		width:100%;
		text-align:center;
		font-size:4em;	
		opacity:0;
		-moz-transform:scale(0.1) translate(0, 2em);
		-moz-transition:all 0.8s ease-out;
		-ms-transform:scale(0.1) translate(0, 2em);
		-ms-transition:all 0.8s ease-out;
		-o-transform:scale(0.1) translate(0, 2em);
		-o-transition:all 0.8s ease-out;
		}
	.slide.shout ARTICLE A {
		margin:0;
		}
	.slide.shout ARTICLE A:after {
		content:'';
		}
	.slide.shout:target ARTICLE H2 {
		opacity:1;
		-moz-transform:scale(1) translate(0, 0);
		-ms-transform:scale(1) translate(0, 0);
		-o-transform:scale(1) translate(0, 0);
		}
.slide.shout:before {
	display:none;
	}
.slide.shout:after {
	content:'';
	}

/* Progress
---------------------------------------- */
.progress {
	position:absolute;
	right:3em;
	bottom:1em;
	left:3em;
	z-index:2;
	height:0.2em;
	border:0.03em solid rgba(255, 255, 255, 0.4);
	border-radius:0.2em;
	}
	.progress DIV {
		position:absolute;
		top:0;
		left:0;
		width:0;
		height:100%;
		border-radius:0.2em;
		background:rgba(177, 177, 177, 0.5);
		-webkit-transition:width 0.2s linear;
		-moz-transition:width 0.2s linear;
		-o-transition:width 0.2s linear;
		}