ABBR,ARTICLE,ASIDE,AUDIO,BB,CANVAS,DATAGRID,DATALIST,
DETAILS,DIALOG,FIGURE,FOOTER,HEADER,MARK,MENU,
METER,NAV,OUTPUT,PROGRESS,SECTION,TIME,VIDEO {
	display:block;
	}
HTML,BODY,DIV,SPAN,APPLET,OBJECT,IFRAME,H1,H2,H3,H4,H5,H6,P,
BLOCKQUOTE,PRE,A,ABBR,ACRONYM,ADDRESS,BIG,CITE,CODE,DEL,DFN,
EM,FONT,IMG,INS,KBD,Q,S,SAMP,SMALL,STRIKE,STRONG,SUB,SUP,
TT,VAR,HR,B,U,I,CENTER,DL,DT,DD,OL,UL,LI,FIELDSET,FORM,
LABEL,LEGEND,TABLE,CAPTION,TBODY,TFOOT,THEAD,TR,TH,TD {
	padding:0;
	margin:0;
	border:none;
	outline:none;
	vertical-align:baseline;
	font-family:inherit;
	font-size:100%;
	}
DFN,I,CITE,VAR,ADDRESS,EM {
	font-style:normal;
	}
TH,B,STRONG,H1,H2,H3,H4,H5,H6{
	font-weight:normal;
	}
TEXTAREA,INPUT,SELECT{
	font-family:inherit;
	font-size:1em;
	}
BLOCKQUOTE,Q {
	quotes:none;
	}
OL,UL {
	list-style:none;
	}
CAPTION,TH,TD {
	text-align:left;
	}
