// ------------------------------------------------------------------
// Content: Basic
// ------------------------------------------------------------------

h2 {
	margin-bottom:34px;
	color:$black;
	font:48px/1 Roboto Light, sans-serif;
	}
p {
	margin-bottom:1em;
	&.note {
		color:lighten($grey, 25%);
		}
	}
