// ------------------------------------------------------------------
// Code
// ------------------------------------------------------------------
// 1. Outer ............ Main <pre> container
// 2. Inner ............ Generic <code> container
//    - Marked Lines ... Statically highlighted lines
//    - Line Numbers ... Generated line numbers
// 3. Marked ........... Highlighted fragments
//    - Important ...... Bold and inverted
//    - Comment ........ Subtle and grey
// ------------------------------------------------------------------

// Outer

pre {

	margin-bottom:1em;
	counter-reset:code;
	white-space:normal;

	// Inner

	code {

		display:block;
		margin-left:-96px;
		padding:0 0 0 96px;
		width:calc(100% + 96px + 112px);
		background:none;
		line-height:2;
		white-space:pre;
		tab-size:4;

		&:not(:only-child) {

			// Marked Lines

			&.mark {
				background:mix($color, white, 10%);
				}

			// Line Numbers

			&::before {
				position:absolute;
				margin-left:-2em;
				color:$light;
				counter-increment:code;
				content:counter(code, decimal-leading-zero)'.';
				}

			}

		}

	// Marked

	mark {

		position:relative;
		z-index:-1;
		margin:0 -0.3em;

		// Important

		&.important {
			background:$color;
			color:white;
			}

		}

	// Comment

	&.comment {
		color:$medium;
		}

	}
