// ------------------------------------------------------------------
// Footer
// ------------------------------------------------------------------

footer {

	position:absolute;
	right:0;
	bottom:- $height;
	left:0;
	z-index:1;
	display:none;
	padding:2em 112px 1em 96px;
	background:mix($color, white, 10%);
	transition:bottom 0.3s;

	}

&:hover > footer {
	bottom:0;
	}
