/* Quote */

.slide blockquote {
	margin: 0;
	font-style: italic;
}

.slide blockquote::before {
	position: absolute;
	margin: 0 0 0 -0.45em;
	color: var(--color-light);
	line-height: 1;
	font-size: 7em;
	font-style: normal;
	content: '\201D';
}

/* Author */

.slide blockquote + figcaption {
	margin: -1em 0 1em;
	font-weight: bold;
	font-style: italic;
}
