// ------------------------------------------------------------------
// Quote
// ------------------------------------------------------------------

blockquote {

	font-style:italic;

	&::before {
		position:absolute;
		margin:-0.04em 0 0 -0.4em;
		color:$light;
		line-height:1;
		font-style:normal;
		font-size:7em;
		content:'\201D';
		}

	// Author

	& + figcaption {
		margin:-1em 0 1em;
		font-style:italic;
		font-weight:bold;
		}

	}
