// ------------------------------------------------------------------
// Content: Table
// ------------------------------------------------------------------

table {

	margin-bottom:1em;
	width:100%;

	tr:not(:last-of-type) {
		> * {
			@include underline(rgba($grey, 0.5), 0.055);
			}
		}
	th {
		text-align:left;
		font-weight:bold;
		}

	// Striped

	&.striped {
		tr {
			&:nth-child(even) {
				background:rgba($grey, 0.15);
				}
			> * {
				background-image:none;
				}
			}
		}

	}
