// ------------------------------------------------------------------
// Badge
// ------------------------------------------------------------------
// 1. Calculations ..... Font size calculations
// 2. Link ............. Octocat icon and label
// ------------------------------------------------------------------

.badge {

	padding:0.5em 0 2em;

	// Calculations

	@each $scale in 4, 2, 1 {
		@include scale($scale) {
			font-size:48px / $scale;
			}
		}

	width:100%;

	// Link

	a {

		display:inline-block;
		margin-left:9em;
		padding-left:4em;
		color:$medium;

		svg {
			position:absolute;
			margin:-1.1em 0 0 -4.5em;
			width:4em;
			height:4em;
			fill:currentColor;
			}

		}

	}
