// ------------------------------------------------------------------
// Badge
// ------------------------------------------------------------------
// 1. Calculations ..... Font-size calculations
// 2. Decoration ....... Global badge styling
// 3. Link ............. Badge’s link
// ------------------------------------------------------------------

.badge {

	// Calculations

	@each $scale in 4, 2, 1 {
		@include scale($scale) {
			font-size:40px / $scale;
			}
		}

	// Decoration

	position:absolute;
	top:1.5em;
	right:1.5em;
	display:none;

	// Link

	a {

		@include shadow(2, 1);

		display:table-cell;
		width:6em;
		height:6em;
		border-radius:50%;
		background:#4CAF50;
		color:#FFF;
		vertical-align:middle;
		text-align:center;
		line-height:1;
		transform:rotate(-15deg);

		}

	}
